## NOTES

### DAY OBJECTIVES

1.*Objective 1

2.*Objective 2    

3.*Objective 3

## VARIABLE ASSINGMENT

In [2]:
var1=123
var2=var1**var1
var3=var1*var2

print(len(str(var2)))

258

## COUNT DIGITS IN A NUMBER

In [5]:
var1=12
var2=(var1**var1)**var1
print(var2)

252405858452706802146088003199234910139421423537379794530169220964425944728647963794263559358200737721321118953128592183095980912780081856373786437365006336

In [6]:
print(len(str(var1)))

2

In [7]:
print(len(str(var2)))

156

## DATA TYPES

In [9]:
type(var1)

int

In [10]:
type(var2)

int

In [11]:
type(var1 and var2)

int

In [12]:
type("Python")

str

## STRING SLICING

In [14]:
str1="Python Programming"
str1[0]

'P'

In [15]:
str1[6] #Accesssing the String

' '

In [16]:
str1[4]

'o'

In [17]:
str1[10]

'g'

In [18]:
str1[6]

' '

In [20]:
str1[len(str1)-1] ##Accessing the last element of the string without counting the number of elements

'g'

In [21]:
str1[:6] #Sliced Version of the String  #PRintig first 6 charecters

'Python'

In [23]:
str1[0:6] #Same answer as above

'Python'

In [22]:
str1[2:8] #Sliced Version of the String    #Printing the charecters from 2nd Index to 8th Index

'thon P'

In [24]:
str1[len(str1)-1 :: -1]  #Reverse Printing of the Entire String

'gnimmargorP nohtyP'

In [25]:
str1[0:len(str1):2] #Printing alternate charecters of the String (By Increasig step function by 2)

'Pto rgamn'

In [27]:
str1[5::-2] #Reverse Alternate charecters of specific word in the String "PYTHON"

'nhy'

In [28]:
str1[7:] *23 #Printing the specific part of String "n" number of times

'ProgrammingProgrammingProgrammingProgrammingProgrammingProgrammingProgrammingProgrammingProgrammingProgrammingProgrammingProgrammingProgrammingProgrammingProgrammingProgrammingProgrammingProgrammingProgrammingProgrammingProgrammingProgrammingProgramming'

In [32]:
print(str1[7:],end='\n')

Programming

## LISTS     # Similar to arrays but can hold different types of data unlike Arrays

In [35]:
li = [123,234,'Python']
li

[123, 234, 'Python']

In [36]:
len(li) #Length of the List

3

In [38]:
li[1] #Accessing elements of the List as the indexing begins frm "0"

234

In [63]:
li[0]

123

In [66]:
li[len(li)-1] = 'Programming'    #Replacing an element in the list

In [67]:
li.append('Python')  #ADDin a new elemen to a list

In [68]:
print(li)

[123, 234, 'Programming', 'Programming', 'Programming', 'Python', 'Python', 'Python', 'Python', 'Programming', 'Python']

li[2:

In [69]:
li[2:]

['Programming',
 'Programming',
 'Programming',
 'Python',
 'Python',
 'Python',
 'Python',
 'Programming',
 'Python']

In [75]:
li.pop(0) #Removes elements based on the Index

123

In [78]:
li.insert(0,123)  #First Parsmetre is Index, Secind Parsmetre is Value

In [79]:
li.insert(1,234)

## MULTI DIMENSIONAL LISTS  Eg: Matrices

In [84]:
li2=[[1,2,3],[4,5,6],[7,8,9]]
li2    #For Printing li2 List 2)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [85]:
print(li2)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [86]:
li2[1][1] #1st and 2nd row of the matrix

5

In [87]:
li2.insert(3,[10,11,12]) #Addition of a new row
li2

[[1, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11, 12]]

In [93]:
li2.pop(2) #Removing
li2

[[1, 2, 3], [4, 5, 6]]

In [94]:
li2.insert(3,[7,8,9])

In [95]:
li2

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [97]:
li2.remove([7,8,9]) #Removing the 3rd row
li2

[[1, 2, 3], [4, 5, 6]]

In [8]:
li2=[[1,2,3],[4,5,6],[7,8,9]]
for i in range (0,len(li2)):
    for j in range (0,len(li2[i])):
        print (li2[i][j],end='')

123456789

In [23]:
li2=[[1,2,3],[4,5,6],[7,8,9]]
for i in range (len(li2)-1,0,-1):
    for j in range (len(li2[i])-1,0,-1):
        print (li2[i][j],end='')

9865

In [154]:
li.pop()

'Programming'

In [35]:
li1=[1,2]
li1.append(987)
li1.append(534)
li1.append([325,764,788])
li1.pop()
li1
li1.sort()
li1

[1, 2, 534, 987]

## TUPLES

In [111]:
t1=(123,234,345) #Tuple defined in parenthesis
t1

(123, 234, 345)

In [113]:
t1[2]

345

In [114]:
t1[1]+t1[2]

579

In [116]:
t1[len(t1)-1]

345

In [117]:
t1[1:3]

(234, 345)

In [121]:
str(t1[0])[1]+ " " +str(t1[1])[1]+ " " + str(t1[2])[1]  #Print only second digit of every element in the Tuple

'2 3 4'

In [122]:
t1=(123,234,345) #Reversing of all charecters of all elements in a Tuple
str(t1[0])[2::-1] + str(t1[1])[2::-1] + str(t1[2])[2::-1]

'321432543'

### READING INPUT FROM A USER

In [24]:
str1=input("Enter a string")
str1

Enter a stringgood evening

'good evening'

In [128]:
str1=input()
str1

python

'python'

## DICTONARIES

In [132]:
d1={'Procedural':'C', 'Scripting':'Python', 'Functional':'Haskell'}
d1

{'Procedural': 'C', 'Scripting': 'Python', 'Functional': 'Haskell'}

In [133]:
d1['Scripting']

'Python'

In [137]:
d1.values()

dict_values(['C', 'Python', 'Haskell'])

In [138]:
d1.keys()

dict_keys(['Procedural', 'Scripting', 'Functional'])

In [148]:
d2={'Symbolic':'Mathematics', 'Logic' : 'Prelog'} #Adding to the existing Dictionary
d1.update(d2)   #Used for merging Dictionaries
d1

{'Procedural': 'C',
 'Scripting': 'Python',
 'Functional': 'Haskell',
 'Symbolic': 'Mathematics',
 'Object Oriented': 'Java',
 'Logic': 'Prelog'}

In [149]:
d1['Object Oriented']='Java'
d1

{'Procedural': 'C',
 'Scripting': 'Python',
 'Functional': 'Haskell',
 'Symbolic': 'Mathematics',
 'Object Oriented': 'Java',
 'Logic': 'Prelog'}

In [168]:
d1['Logic']

'Prelog'